body{
    background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100%;
    text-align: center;
}
button{
    height:45px;
    width:45px;
    border-radius: 45%;
}
#result{
    height:45px;
    width:200px;
}